
body {
    background: black;
    color: white;
    font: 12pt Arial;
}

.game div {
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0;
}
.game div.title {
    display: block;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}
.game div.item, .game .item {
    display: inline-block;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.25em;
    text-align: center;
    vertical-align: middle;
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
.game div.recipe,
.game div.recipe-queue-item {
    display: block;
    border: 2px solid white;
    border-radius: 0.5em;
    vertical-align: middle;
    padding: 0.5em;
    margin: 0.5em 0;
    cursor: pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
.game div.recipe.recipe-disabled {
    border-color: gray;
    background: gray;
    cursor: default;
}

.game .party {
    display: block;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0;
    margin-bottom: 0.5em;
}
.game .party .party-members,
.game .party .party-loot {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
.game .adventurer {
    display: inline-block;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.25em;
    text-align: center;
    vertical-align: top;
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

.game .game-sleep {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    color: black;
    background: white;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
.game .game-sleep:hover {
    color: black;
    background: gray;
    border-color: gray;
    top: 3px;
    left: 3px;
}
.game .game-currency {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid grey;
    border-radius: 0;
    border-bottom-left-radius: 0.5em;
    border-top: none;
    border-right: none;
    padding: 0.5em;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}
.game div.vertical-column {
    display: inline-block; 
    border: none; 
    margin: 0; 
    padding: 0;
    vertical-align: top; 
}
.game div.game-inventory,
.game div.game-recipes,
.game div.game-recipe-queue {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}




/*
#debug {
    border: 1px solid white;
    padding: 0.5em;
}

.item-list {
    border: 1px solid white;
    margin: 0.5em;
}
.item-list .item-list-item {
    border: 1px solid white;
    margin: 0.5em;
}

.recipe-list {
    border: 1px solid white;
    margin: 0.5em;
}
.recipe-list .recipe-list-item {
    border: 1px solid white;
    margin: 0.5em;
}
*/